# Environments
.env
.env.local

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/

# Node modules and frontend build artifacts
frontend/node_modules/
frontend/dist/
welfare_2-frontend/

# Log files
server.log
welfarebot.log

# Frontend package lock files
frontend/package-lock.json
frontend/package-lock-kushan.json
